.main_containers {
    overflow-y: auto !important;
    scrollbar-width: none !important;
    scroll-behavior: smooth !important;
    height: 100vh !important;
}

.uppercontainer {
    display: flex;
    justify-content: space-around;
    gap: 40vw;
    width: 100%;
    height: 15vh;
    align-items: center;
}

.uppercontainer_left {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    width: 20vw;
    text-align: center;
}


.upper_cont_img {
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.uppercontainer_left1 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    font-size: 20px;
}

.star {
    color: rgb(253, 229, 12);
}

.uppercontainer_right {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    font-size: 20px;
}

.horizontal_line {
    color: gray;
}

/*---------------form container--------------------*/
.formMain_cont {
    margin-top: 2vh;
}

.formMain_cont1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formMain_cont2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formMain_cont3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formSub_con {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    min-width: 16vw;
    font-size: 18px;
    margin-top: 6vh;
}

.formSub_contain {
    margin-top: 2vh;
}

.formSub_con1 {
    display: flex;
    flex-direction: column;
    min-width: 16vw;
    font-size: 18px;
    margin-top: 1.5vh;
    border-radius: 10px;
}

.box {
    border: 1px solid rgb(180, 178, 178);
    text-align: center;
    padding: 8px;
    width: 16vw;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    border-radius: 6px;
}

.boxes {
    border-radius: 5px;
    height: 7vh;
    width: 22vw;
    box-shadow: 0px 4px 4px rgb(172, 170, 170);
    border: none;
}

.description_input {
    border: none;
    border-radius: 5px;
    height: 7vh;
    box-shadow: 0px 4px 4px rgb(172, 170, 170);
    font-size: 18px;
    width: 22vw;
    border-color: gray;
}

.des {
    height: 15vh;
    width: 25vw;
}

.fileupload {
    border: 2px solid gray;
    width: 12vw;
    padding: 7px;
    margin-left: 10vw;
    margin-top: 10vh;
    font-size: 18px;
    border-radius: 7px;
}

.filebox {
    border: 2px dashed gray;
    width: 50vw;
    height: 34vh;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1vh;
    padding-top: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 3px 3px 3px 3px gainsboro;
}

.f {
    color: rgb(6, 177, 245);
    font-weight: bold;
    margin-left: 0.6vw;
}

.imgs {

    font-size: 45px;
    position: relative;
    bottom: 10vh;
    left: 20vw;
    color: gray;
}

.last_container {
    display: flex;
    gap: 2vw;
    /* justify-content: space-evenly; */
    margin-top: 10vh;
    margin-left: 20vw;
    width: 25vw;
}

.cancel_btn {
    width: 7vw;
    color: gray;
    border-radius: 4px;
    font-size: 16px;
    border-color: rgb(168, 166, 166);
}

.Interview_btn {
    background-color: green;
    color: white;
    border-radius: 4px;
    border-color: rgb(180, 179, 179);
    width: 12vw;
}