/* Interviews CSS */

.table_container {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black; /* Border around the entire table */
}

.table_wrapper {
  overflow-x: auto;
}

.custom_table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
}

.custom_table th,
.custom_table td {
  border: 1px solid black;
}

.custom_table thead th {
  color: #212529;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid black;
}

.custom_table tbody td {
  border: none;
  border-bottom: 1px solid black;
}

.name_column {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
}

.gold_star {
  color: gold;
}
