 /* ..................My Resume Page.......  */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .resume_container {
   display: flex;
   height: 100%;
 }

 .blur_resume_container {
   filter: blur(3px);
   display: flex;
   height: 100%;
 }

 .resume_left_container {
   width: 75%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-right: 2px solid rgb(141, 140, 140);
 }

 .resume_type_box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   height: 2.5rem;
   margin: 1rem 0;
   border: 1px solid rgb(212, 211, 211);
   border-radius: 20px;
   padding: 3px;
 }

 .job_active {
   background: linear-gradient(to right, #5252f8, #00008b);
   width: 50%;
   height: 100%;
   border-radius: 20px;
   padding: 5px 0px 0px 0px;
   text-decoration: none;
   color: white;
   text-align: center;
 }

 .Grnotes {
   padding-left: 20px;
 }

 .typebox {
   width: 50%;
   height: 100%;
   border-radius: 20px;
   padding: 5px 0px 0px 0px;
   text-decoration: none;
   color: black;
   text-align: center;
 }

 .typebox:hover {
   cursor: pointer;
 }

 .Update_resumeBtn {
   width: 30%;
   height: 6vh;
   background-color: white;
   border: 1px solid rgb(216, 215, 215);
   color: rgb(72, 72, 244);
   font-size: larger;
   border-radius: 13px;
   box-shadow: 0px 2px 2px rgb(190, 190, 190);
 }

 .resume_name_box {
   display: flex;
   width: 90%;
   height: 5vh;
   justify-content: space-between;
   margin: 1rem auto;
   align-items: center;
 }

 .pdf_name {
   width: 60%;
   height: 100%;
   background-color: rgb(234, 234, 234);
   height: "100%";
   padding: 3px 0px 0px 8px;
   border-radius: 0 15px 15px 0;
 }

 .Resume_Collection_container {
   width: 90%;
   /* overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth; */
 }

 .resume_right_container {
   width: 25%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
 }

 .resume_display {
   margin: 1rem 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
 }

 .right_title {
   border: 1px solid rgb(197, 197, 197);
   border-radius: 5px;
   text-align: center;
   font-size: large;
   font-weight: bold;
   padding: 0 10px;
   width: 80%;
 }

 .resume_display img[alt='girl'] {
   width: 80%;
   height: 80%;
 }

 .hint_box {
   width: 70%;
   border: 1px solid rgb(199, 197, 197);
   border-radius: 15px 15px 0px 15px;
   padding: 6px;
   text-align: center;
   font-weight: 500;
 }

 .resume_btn {
   width: 80%;
   border: 1px solid rgb(146, 146, 146);
   border-radius: 5px;
   color: rgb(254, 127, 0);
   font-weight: 500;
   background: #ffffff;
   padding: 6px;
   margin-bottom: 1rem;
 }

 .UploadPopUp_box {
   height: 70vh;
   width: 25vw;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border-radius: 10px;
   box-shadow: 0 0px 8px 8px rgba(78, 77, 77, 0.1);
   background-color: white;
   padding: 10px;
   z-index: 2;
 }

 .UploadPopUp_box i {
   float: right;
   cursor: pointer;
 }

 .inner_upload_Box {
   width: 80%;
   height: 100%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
 }

 .Drive_box {
   width: 100%;
   display: flex;
   justify-content: space-between;
 }

 .google_upload {
   width: 47%;
   height: 8vh;
   border: 1px solid black;
   border-radius: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 3px;
   font-size: small;
   font-weight: 500;
 }

 .google_upload p {
   padding-top: 4%;
 }

 .google_upload img[alt='drive'] {
   width: 22%;

 }

 .google_upload img[alt='drop'] {
   width: 22%;

 }

 .inner_Upload_btn {
   width: 100%;
   height: 8vh;
   background: linear-gradient(to right, #5252f8, #00008b);
   font-size: large;
   color: white;
   text-align: center;
   border-radius: 15px;
   border: 1px solid white;
 }

 .Upload_btn {
   width: 50%;
   height: 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #2525f8;
   color: white;
   border-radius: 10px;
   border: 1px solid white;
 }

 .input_label {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
 }

 .hidden_popup {
   display: none;
 }



 .wrapper {
   width: 100%;
   /* margin-top: 5vh; */
   display: flex;
   align-items: center;
   height: 70vh;
   border-radius: 5vh;
 }

 .content {
   width: 100%;
   height: 68vh;
   overflow-y: scroll;
 }

 .content::-webkit-scrollbar {
   display: none;
 }

 .post_resume_section {
   display: flex;
   flex-direction: row;
   margin-bottom: 2vh;
   align-items: center;
 }

 .circle_section {
   height: 15vh;
   border-radius: 50%;
   width: 15vh;
 }

 .pdf_circle_section>* {
   width: 50px;
   height: 20px;
 }

 .circle_section>* {
   width: 60%;
   height: 80%;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .post {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   height: 6vh;
   border-radius: 0px 10px 10px 0px;
   margin-left: -10px;
 }

 .post p {
   color: white;
   width: 90%;
   padding: 2vh 0 0vh 4vw;

 }

 .post i {
   color: white;
   cursor: pointer;
 }

 .candidate_info {
   display: flex;
 }

 .show_pdf_box {
   /* background-color: #00008b; */
   overflow-y: scroll;
   scrollbar-width: none;
   scroll-behavior: smooth;
   height: 65vh;
   width: 80%;
   margin: auto;

 }

 .pdf_file {
   /* width: 100%; */
   margin: 0px auto;
 }