* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.JobSeeker_Layout_Container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.LayoutContainer__LeftSideContainer {
  width: 275px;
  height: 100%;
}

.LayoutContainer__RightSideContainer {
  height: 100%;
  width: calc(100% - 275px);
}

.RightSideContainer__topHeaderContainer {
  background: linear-gradient(90deg, #0050d1 0%, #00296b 100%);
  height: 70px;
}

.Dashboard_TopHeader_Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.searchFormContainer {
  width: calc(100% - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.FilterAndNotificationBox {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filterBox_ICON {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.DashboardSearchBarBox {
  border-radius: 7px;
  border: 2px solid white;
  width: 650px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.SearchInputBox {
  width: 55%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.3em;
  border-right: 1px solid #E4E5E8;
}


.SearchICONBox {
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchICON {
  font-size: 25px;
  color: #00296b;
}


.SearchInput {
  border: none;
  outline: none;
  width: calc(100% - 30px);
  height: 100%;
  padding: 0em 1em;
  font-size: 16px;
  font-weight: 400;
}

.SearchInput::placeholder {
  font-family: "Inter";
  font-style: normal;
  color: #a3a3a3;
}

.SearchSelectBox {
  width: 45%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.SearchSelectInput {
  border: none;
  outline: none;
  width: 175px;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #A3A3A3;
  margin: 0px 5px;
}

.SeachSelectOPTION {
  color: black;
  font-size: 16px;
}

.Search_MICICON {
  font-size: 30px;
  color: grey;
  margin-left: 20px;
  cursor: pointer;
}

.__OutletContainer {
  height: calc(100% - 70px);
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1025px) {
  .LayoutContainer__LeftSideContainer {
    width: 100px;
  }

  .LayoutContainer__RightSideContainer {
    width: calc(100% - 100px);
  }
}