/* detailed view  */
.detailed_view_full_small {
  margin-top: 20px;
  display: block;
  text-decoration: none;

  &:first-child {
    margin-top: 70px;
  }
}

.detail_list_view_full {
  border: 1px solid rgba(225, 220, 217, 1);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.selected {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(247, 151, 30, 1) 0%,
    rgba(255, 210, 0, 1) 100%
  );
  border-image-slice: 1;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detail_list_view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.detail_company_detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.detail_company_logo_Container {
  width: 45px;
  height: 40px !important;
  border-radius: 50%;
  overflow: hidden;
  align-self: flex-start;
}

.detail_company_logo {
  width: 100%;
  height: 100%;
}

.detail_company_job_title {
  font-family: inter;
  font-weight: 600;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}

.detail_company_job_time {
  font-family: inter;
  font-weight: 500;
  font-size: 12px;
  color: rgba(161, 161, 161, 1);
}

.detail_company_offer {
  font-family: inter;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail_company_logo_money {
  width: 10%;
}

.detail_company_logo_money_month {
  font-family: inter;
  font-weight: 600;
  font-size: 12px;
  color: rgba(69, 69, 69, 1);
}

.detail_company_offer_apply {
  width: 30%;
  text-align: end;
}

.detail_company_offer_fav_image {
  width: 20% !important;
  margin-bottom: 10px;
}

.detail_company_offer_apply_button_style {
  width: 100%;
  height: 25px;
  border: none;
  background: linear-gradient(90deg, #0050d1 0%, #00296b 100%);
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  font-family: inter;
}

.company_location_details {
  margin-top: 70px;
}

.detail_company_location_details {
  border: 1px solid rgba(225, 220, 217, 1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_company_location_details_job {
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail_company_location_logo {
  width: 13%;
}

.detail_exp_name_time,
.detail_exp_name,
.detail_company_location_name {
  margin-bottom: 0px;
  font-family: inter;
  font-weight: 600;
  font-size: 10px;
}

.detail_preference_exp {
  margin-top: 0px;
  font-family: inter;
}

.detail_company_exp {
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail_exp_logo {
  width: 15%;
}

.detail_company_exp_time {
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail_exp_logo_time {
  width: 13%;
}

/* company req details */

.company_background_image {
  width: 100%;
  height: 278px;
  background-size: cover;
  position: relative;
}

.detail_company_logo_user_Container {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-65%);
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
}

.detail_company_logo_user {
  width: 100%;
  height: 100%;
}

.company_title {
  margin-top: 80px;
  text-align: center;
  color: rgba(23, 23, 22, 1);
  font-family: inter;
  font-weight: 600;
  font-size: 24px;
}

.company_location {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  color: rgba(23, 23, 22, 0.75);
  text-align: center;
  margin-top: 5px;
}

.border_style {
  border-top: 1px solid rgba(225, 220, 217, 1);
  margin-top: 10px;
}

.company_description,
.company_skill,
.company_salary,
.company_education,
.company_responsibilities,
.company_how_apply {
  margin-top: 20px;
}

.company_description_title,
.company_skill_title,
.company_salary_title,
.company_education_title,
.company_responsibilities_title,
.company_how_apply_title {
  font-size: 24px;
  font-weight: 600;
  font-family: inter;
  color: rgba(0, 0, 0, 1);
}

.company_description_requirement,
.company_skill_list,
.company_salary_offer,
.company_education_offer,
.company_responsibilities_offer,
.company_how_apply_offer {
  font-size: 18px;
  font-weight: 400;
  font-family: inter;
  margin-top: 5px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.75);
}

.company_skill_list_display {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 5px;
}

.company_skill_list_display_Item {
  font-size: 14px !important;
  font-weight: 400;
  border: none;
  padding: 0.2em 1em;
  gap: 10px;
  border-radius: 5px;
  background-color: rgba(255, 184, 0, 1);
  color: white !important;
  text-transform: uppercase;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: keep-all;
  width: fit-content;
}

.detail_job_view_company_full {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 1em;
  min-height: 40%;
}

.close_button {
  color: #000;
  font-size: 25px;
  margin-bottom: 15px;
}

.detail_job_link_part {
  display: flex;
  justify-content: flex-end;
}

.company_location_map {
  margin-top: 20px;
}

.company_location_map_design {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

.company_about_section_title {
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin-top: 10px;
}

.company_about_desc {
  font-family: inter;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-top: 10px;
}

.company_about {
  margin-top: 30px;
  border: 1px solid rgba(225, 220, 217, 1);
  padding: 5px;
  border-radius: 5px;
}

.company_review_title {
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin-top: 30px;
}

.company_summary_title {
  font-family: inter;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 30px;
  text-align: center;
}

.company_apply_button,
.company_save_later_button {
  margin-top: 30px;
  text-align: center;
}
.alreadyAppliedButton {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(225, 220, 217, 1);
  border-radius: 10px;
  color: #fff;
  font-family: inter;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(to right, #9595b4, #000012);
  pointer-events: none;
}
.company_apply_button_one {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(225, 220, 217, 1);
  border-radius: 10px;
  background: linear-gradient(90deg, #0050d1 0%, #00296b 100%);
  color: #fff;
  font-family: inter;
  font-weight: 500;
  font-size: 16px;
  display: block;
  text-decoration: none;
  padding-top: 6px;
}

.company_apply_button_two {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid rgba(225, 220, 217, 1);
  border-radius: 10px;
  font-family: inter;
  font-weight: 500;
  font-size: 16px;
}

.company_summary_progress_border {
  width: 80%;
  height: 12px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}

li {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.company_summary_progress_fun {
  margin-top: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.company_summary_style {
  margin-top: 10px;
  display: flex;
}

.company_summary_progress {
  width: 50%;
}

.company_rating_star {
  width: 50%;
  text-align: center;
  margin-top: 10px;
}

.review_star {
  width: 60%;
}

.company_rating_rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
}

.review_star_gap {
  width: 25%;
}

.company_rating_rating_data {
  font-size: 20px;
  margin-bottom: -5px;
  font-family: inter;
  font-weight: 500;
}

.company_review_full {
  margin-top: 5px;
  font-size: 13px;
  font-family: inter;
  color: rgba(0, 0, 0, 0.38);
  text-align: left;
  margin-left: 15px;
}

.company_review_rec {
  margin-top: 15px;
  font-size: 20px;
  font-family: inter;
  font-weight: 500;
  text-align: left;
  margin-left: 15px;
}

.company_review_Recommended {
  font-size: 13px;
  font-family: inter;
  color: rgba(0, 0, 0, 0.38);
  text-align: left;
  margin-left: 15px;
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .detail_company_detail {
    gap: 10px;
  }

  .detail_list_view {
    padding: 5px;
  }
  .detail_company_job_title {
    font-size: 13px;
  }
  .detail_company_offer {
    font-size: 10px;
  }

  .detail_company_logo_Container {
    width: 60px;
    height: 35px !important;
  }

  .detail_company_offer_fav_image {
    margin-bottom: 20px;
  }

  .detail_company_offer_apply_button_style {
    font-size: 10px;
  }
  .detail_company_location_name {
    font-size: 8px;
  }
  .company_background_image {
    height: 250px;
  }
  .detail_company_logo_user_Container {
    transform: translateX(-50%);
  }
  .company_title {
    font-size: 20px;
  }
  .company_location {
    font-size: 15px;
  }
  .company_description_title {
    font-size: 20px;
  }
  .company_description_requirement {
    margin-top: 10px;
    font-size: 16px;
  }

  .company_skill_title {
    font-size: 20px;
  }
  .company_skill_list_display_Item {
    font-size: 16px;
  }
  .company_salary_title {
    font-size: 20px;
  }
  .company_salary_offer {
    margin-top: 10px;
    font-size: 16px;
  }
  .company_how_apply_title {
    font-size: 20px;
  }
  .company_how_apply_offer {
    margin-top: 10px;
    font-size: 16px;
  }
  .company_review_title {
    margin-top: 10px;
  }
  .company_summary_title {
    margin-top: 10px;
  }
  .detail_company_location_details {
    padding: 2px;
  }
  .company_location_map iframe {
    height: 250px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .detail_company_detail {
    gap: 10px;
  }

  .detail_list_view {
    padding: 5px;
  }
  .detail_company_job_title {
    font-size: 13px;
  }
  .detail_company_offer {
    font-size: 10px;
  }

  .detail_company_logo_Container {
    width: 60px;
    height: 35px !important;
  }

  .detail_company_offer_fav_image {
    margin-bottom: 20px;
  }

  .detail_company_offer_apply_button_style {
    font-size: 10px;
  }
  .detail_company_location_name {
    font-size: 8px;
  }
  .company_background_image {
    height: 240px;
  }
  .detail_company_logo_user_Container {
    transform: translateX(-50%);
  }
  .company_title {
    font-size: 20px;
    margin-top: 60px;
  }
  .company_location {
    font-size: 15px;
  }
  .company_description_title {
    font-size: 18px;
  }
  .company_description_requirement {
    margin-top: 10px;
    font-size: 15px;
  }

  .company_skill_title {
    font-size: 18px;
  }
  .company_skill_list_display_Item {
    font-size: 15px;
  }
  .company_salary_title {
    font-size: 18px;
  }
  .company_salary_offer {
    margin-top: 10px;
    font-size: 15px;
  }
  .company_how_apply_title {
    font-size: 18px;
  }
  .company_how_apply_offer {
    margin-top: 10px;
    font-size: 15px;
  }
  .company_review_title {
    margin-top: 10px;
  }
  .company_summary_title {
    margin-top: 10px;
  }
  .detail_company_location_details {
    padding: 2px;
  }
  .company_location_map iframe {
    height: 250px;
  }

  .company_apply_button {
    margin-top: 20px;
  }
  .detail_exp_name_time {
    font-size: 9px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .detail_company_detail {
    gap: 10px;
  }

  .detail_list_view {
    padding: 5px;
  }
  .detail_company_job_title {
    font-size: 13px;
  }
  .detail_company_offer {
    font-size: 10px;
  }

  .detail_company_logo_Container {
    width: 60px;
    height: 35px !important;
  }

  .detail_company_offer_fav_image {
    margin-bottom: 20px;
  }

  .detail_company_offer_apply_button_style {
    font-size: 10px;
  }
  .detail_company_location_name {
    font-size: 8px;
  }
  .company_background_image {
    height: 220px;
    background-position: center center;
  }
  .detail_company_logo_user_Container {
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
  }
  .company_title {
    font-size: 20px;
    margin-top: 60px;
  }
  .company_location {
    font-size: 15px;
  }
  .company_description_title {
    font-size: 16px;
  }
  .company_description_requirement {
    margin-top: 10px;
    font-size: 14px;
  }

  .company_skill_title {
    font-size: 16px;
  }
  .company_skill_list_display_Item {
    font-size: 14px;
  }
  .company_salary_title {
    font-size: 16px;
  }
  .company_salary_offer {
    margin-top: 10px;
    font-size: 14px;
  }
  .company_how_apply_title {
    font-size: 16px;
  }
  .company_how_apply_offer {
    margin-top: 10px;
    font-size: 14px;
  }
  .company_review_title {
    margin-top: 10px;
  }
  .company_summary_title {
    margin-top: 10px;
  }
  .detail_company_location_details {
    padding: 2px;
  }
  .company_location_map iframe {
    height: 250px;
  }

  .company_apply_button {
    margin-top: 20px;
    font-size: 15px;
  }
  .detail_exp_name_time {
    font-size: 9px;
  }

  li {
    gap: 5px;
  }
  .review_star_gap {
    width: 50%;
  }

  .company_review_Recommended {
    padding-left: 1px;
    font-size: 8px;
  }
  .company_review_rec {
    font-size: 15px;
  }
  .company_review_full {
    font-size: 10px;
  }
  .alreadyAppliedButton,
  .company_apply_button_one,
  .company_apply_button_two {
    height: 35px;
    font-size: 14px;
  }
  .company_save_later_button {
    margin-top: 15px;
  }
}
