* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

/* HR-Dashboard Page------------------------------------------------------------ */
.__dashboard_Page {
    position: relative;
    min-height: 100%;
}

.__dashboard_Header,
.__postImpression_Header,
.__latest_Post_Header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Select ----------------- */
.selectOption {
    padding: .3em 1em;
    border-radius: 20px;
    outline: none;
}

.options {
    background: transparent;
    outline: none;
}

/* Dropdown button----------- */
.__dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: chocolate;
}

.__dropBtn {
    background-color: rgb(50, 76, 246);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.__dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.__dropdown_content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.__dropdown_content li:hover {
    background-color: #ddd;
    cursor: pointer;
}

.__dropdown:hover .__dropdown_content {
    display: block;
}

.__dropdown:hover .__dropBtn {
    background-color: #3e8e41;
}

/* Posts Impression ------------ */
.__post_Impression {
    margin: 1em 0;
}

.__post_Section {
    height: 200px;
    padding: 1em;
    border: 1px solid rgba(128, 128, 128, 0.622);
    border-radius: 5px;
}

.__posts {
    background: white;
    width: 90%;
    min-height: 170px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 9px;
    cursor: pointer;
}

.activeCard {
    background: rgba(255, 184, 0, 1);
}

.__postLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.__postTitle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5em 0;
    gap: 20px;
    font-weight: 500;
}

.__btn_PostOpen {
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.__post_body {
    display: flex;
    justify-content: space-around;
    margin: 1em 0 .5em 0;
}

.__post_body span {
    color: yellow;
    background: green;
    border-radius: 15px;
    padding: 2px 15px;
}

.__post_Footer {
    color: rgb(0, 166, 255);
    font-size: 18px;
}

.__post_Footer span {
    font-size: 28px;
    padding-left: 1em;
}

/* User Post ------------ */
.__user_Post {
    border: 1px solid rgba(128, 128, 128, 0.694);
    border-radius: 15px;
    padding: 1em 3em;
    margin-bottom: 1em;
    position: relative;
}

.createPost_BtnDelete {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 2em;
}

.__user_Post_Header {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
}

.__user_PostImg {
    width: 55px;
    height: 55px;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 50%;
}

.__latestPosts_Img,
.__user_Post_info {
    border: 1px solid grey;
    width: 100%;
    height: 400px;
    object-fit: contain;
    color: black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5.4px 3.2px;
    margin-bottom: 1em;
}

.__user_Post_info {
    height: auto;
    padding: 1em 3em;
    font-weight: 500;
}

.__btn_Repost {
    background: orange;
    padding: .3em 1.5em;
    color: white;
    border-radius: 5px;
}

.__user_Post_Footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Create Post Page------------------------------------------------------------ */
.__create_Post_Page {
    position: relative;
    min-height: 100%;
}

.__create_Post_Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.__postDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__imgContainer {
    border: 4px dashed rgba(128, 128, 128, 0.503);
    border-radius: 20px;
    width: 35%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 3em;
    overflow: hidden;
    position: relative;
}

.__previewImg {
    border-radius: 10px;
    width: 95%;
    height: 95%;
    object-fit: cover;
    cursor: pointer;
}

.__previewImgText {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
}

.__postImg {
    width: 25%;
    height: 25%;
    color: rgba(128, 128, 128, 0.868);
    object-fit: cover;
    opacity: 40%;
}

.__createPost_Form {
    width: 60%;
    margin-bottom: 2em;
}

.__input_Grps {
    margin: .6em 0;
}

.__input_Grps label {
    font-weight: 600;
    font-size: 20px;
    padding-left: .2em;
}

.preAssessment_buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.preAssessment_button {
    border: none;
    outline: none;
    background-color: #FFB800;
    padding: 0.5em 2em;
    color: white;
    border-radius: 10px;

}

.__requiredSkils_List {
    margin: 0;
    padding: 0;
    height: 75px;
    list-style-type: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.__requiredSkils_List_ITEM {
    margin: 0;
    padding: 0;
    border: none;
    padding: 0.2em 1em;
    gap: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #0050d1 0%, #00296b 100%);
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: keep-all;
    min-width: fit-content;
}

.userSkils_item_DeleteButton {
    font-size: 20px;
    cursor: pointer;
}

.userSkils_itemDeleteButton:hover {
    cursor: pointer;
    color: red;
}

.__inputs {
    width: 100%;
    height: 45px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 1em;
    margin: .2em 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.__createPost_Select {
    border-radius: 5px;
    border: none;
    padding: .3em 1em;
    width: 100%;
    height: 40px;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.__buttons {
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
}

.__btn_Cancel,
.__btn_Save,
.__btn_Yes,
.__btn_Cancel,
.__PostPreviewPage_Buttons {
    width: 200px;
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #222222;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 24px;
}

.__btn_Save {
    background: rgb(30, 30, 255);
    color: white;
    border: none;
}


.__btn_Cancel:active,
.__btn_Save:active {
    transform: scale(.95);
}

/* Create Post Details View page------------------------------------------------------------ */
.__PostPreviewPage_Container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.__PostPreviewPage_heading {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.__PostPreviewPage_PosterContainer {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 65%;
    height: 350px;
    margin: 10px 0px;
    overflow: hidden;
    border-radius: 25px;
}

.__PostPreviewPage_Poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.__PostPreviewPage_PosterName_Box {
    margin: 15px 0px;
    border-radius: 5px;
    height: 48px;
    width: 50%;
    border: 1px solid #E1DCD9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
}

.__PostPreviewPage__imgUploaded {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.__PostPreviewPage__imgICON {
    color: #3081D0;
    font-size: 22px;
}

.__PostPreviewPage__imgUploadedText {
    font-weight: 400;
    font-size: 18px;
    color: #4C4646;
}

.__PostPreviewPage_PosterName {
    color: #3081D0;
    font-size: 22px;
}

.__PostPreviewPage_PostDescription_Box {
    width: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.__PostPreviewPage_Description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 10px 0px;
}

.__PostPreviewPage_Description strong {
    font-size: 20px;
}

.__PostPreviewPage_Skils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-weight: 700;
    font-size: 20px;
}

.__PostPreviewPage_Skils strong {
    font-size: 19px;
    font-weight: 500;
    width: 120px;
}

.__PostPreviewPage_Skils span {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}
.__PostPreviewSkilsTag {
    font-size: 14px !important;
    font-weight: 400;
    border: none;
    padding: 0.2em 1em;
    gap: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #0050d1 0%, #00296b 100%);
    color: white !important;
    text-transform: uppercase;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: keep-all;
    min-width: fit-content;
}
.__PostPreviewPage_ButtonContainer {
    margin: 20px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.__PostPreviewPage_Buttons:nth-child(2) {
    background: rgb(30, 30, 255);
    color: white;
    border: none;
}

/* Employee Page------------------------------------------------------------ */
/* .__employee_ToggleNav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
} */
.__employee_ToggleNav {
    width: 78vw;
    height: 28vh;
    align-items: center;
    padding: 0px 5px;
    display: flex;
    overflow-y: auto;
    scrollbar-width: none;
    gap: 1em;
    margin-bottom: 1em;
}

.__employee_Links {
    text-decoration: none;
    background: transparent;
}

.active {
    border-radius: 10px;
    text-decoration: none;
    background: transparent;
    background-color: #d3c0fb85;
}

.__employee_Links_Toggles {
    border-radius: 10px;
    width: 250px;
    height: 140px;
    padding: .5em 1em;
    color: #222222;
    transition: 300ms linear;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.__employee_Links_Toggles:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1.5px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.__employee_Links_Toggles h1 {
    font-size: 40px;
}

.__employee_PresenceColor {
    width: 16px;
    height: 16px;
    background: greenyellow;
    border-radius: 50%;
}

.__leaveReq_Table {
    margin: 2em 1em;
}

.__leaveReq_Table_header {
    min-height: 60px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
}

.__leaveReq_Table_PrimaryText {
    font-size: 20px;
    font-weight: 500;
}

.__leaveReq_Table_Button {
    border: none;
    outline: none;
    background-color: #3354F4;
    margin: 0;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.5em 0.6em;
    border-radius: 10px;
    font-weight: 400;
}

.__leaveReq_Table_ButtonICON {
    display: block;
    color: white;
    font-size: 18px;
    transform: rotate(-90deg);
}

.attachment__buttons {
    border: none;
    color: white;
    padding: 0.3em 1em;
    border-radius: 10px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.attachment__buttons:nth-child(1) {
    background-color: #DF0202;
    margin-right: 10px;
}

.attachment__buttons:nth-child(1):hover {
    cursor: pointer;
    background-color: rgb(237, 4, 4);
}

.attachment__buttons:nth-child(2) {
    background-color: #00B707;
}

.attachment__buttons:nth-child(2):hover {
    cursor: pointer;
    background-color: #02ce08;
}

.attachmentButton_Icon {
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

.attachment__buttons:hover .attachmentButton_Icon {
    transform: scale(1.3);
}


/* HR JOB DETAIL CSS */

.hr_job_detail_skill_container_main {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.hr_job_detail_skill_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 66vw;
}   

.hr_job_detail_location {
    display: flex;
}

.hr_job_detail_location_childrens {
    padding-right: 60px;
}

.hr_job_detail_skill {
    list-style-type: none;
    border: 1px solid rgba(255, 184, 0, 1);
    background-color: rgba(255, 184, 0, 1);
    padding: 5px;
    height: fit-content;
    width: 15vw;
    border-radius: 30px;
    text-align: center;
    margin-right: 10px;
    margin-top: 15px;
}

.job_seeker_card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30vw;
    height: fit-content;
    padding-top: 10px;
    cursor: pointer;
}

.job_seeker_card_image {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin-left: 10px;
}

.job_seeker_card_grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.job_seeker_card_bookmark {
    height: 4vh;
    width: 4vw;
}

.job_seeker_card_skills_list_container {
    display: flex;
    justify-content: space-around;
}

.job_seeker_card_skills {
    border: 1px solid black;
    border-radius: 20px;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 900px) {
    .__postDetails {
        flex-direction: column;
        margin: 1em 0;
    }

    .__imgContainer {
        width: 90%;
        height: 350px;
    }

    .__btn_Cancel,
    .__btn_Save {
        font-size: 18px;
    }

    .__createPost_Form {
        width: 90%;
    }
}

@media screen and (max-width:855px) {

    .__PostPreviewPage_PosterContainer,
    .__PostPreviewPage_PostDescription_Box {
        width: 100%;
    }

    .__PostPreviewPage_PosterName_Box {
        width: 95%;
    }
}