/* .main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.selection {
    height: 10vh;
    width: 75%;
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 5vh;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
}

.Select {
    width: 20vw;
    height: 7vh;
    border-radius: 35px;
    margin-top: 1vh;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.1vw;
    font-size: 20px;
    font-weight: bold;
}

.Select:hover {
    background-color: blue;
    color: white;
}

.check {
    color: green;
}

.cross {
    color: red;
}

/*--------company applied-------------------*/
.company_applied {
    height: 30vh;
    width: 75%;
    border: 2px solid black;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px grey;
    font-size: 18px;
}

.Company_Details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Company_logo {
    height: 12vh;
    width: 6vw;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 4%;
}

.Clogo {
    width: 75%;
    height: 80%;
}

.Product_Discription {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Product_Discription1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px !important;
}

.Product_Discription2 {
    font-size: 20px;
    color: grey;
    margin-bottom: 0px !important;
}


.money {
    display: flex;
    justify-content: flex-start;
    gap: 0.5vw;
}

.note {
    font-size: 28px;
    color: green;
}

.money p {
    font-size: 24px;
    font-weight: bold;
}

.money span {
    color: rgb(107, 107, 107);
    font-size: 18px;
    font-weight: bold;
}

.view_status_button {
    width: 13vw;
    background-color: rgb(153, 152, 152);
    height: 6vh;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 22px;
    margin-top: 7vh;
}

.Company_Address {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 7vh;
    font-weight: bold;
}

.Company_Address_details {
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}


/*-------------RIght-Side-Profile---------------------*/
.Profile_Main {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 18vw;
    top: 0vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 2%;
    margin-right: 2%;
}

.container_right1 {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.profile {
    height: 32vh;
}

.profile_image {
    height: 12vh;
    width: 6vw;
    background-color: skyblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(7, 72, 83);
    box-shadow: 0px 4px 4px grey;
}

.profile_image1 {
    font-size: 38px;
    color: white;
}

.jobTitle {
    font-size: 22px;
    color: gray;
    font-weight: bold;
}

.Edit_Profile_btn {
    width: 10vw;
    height: 5vh;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
    border-color: rgb(177, 175, 175);
    margin-bottom: 2%;
}

.experience {
    height: 50vh;
}

.ViewProfile_button {
    background-color: black;
    color: white;
    font-size: 18px;
    width: 12vw;
    padding: 10px;
    border-radius: 10px;
}

.secondaryDiv {
    position: absolute;
    top: 0%;
    width: 100%;
    backdrop-filter: blur(15px);
}