.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    /* width: 100%; */
}

.selection {
    height: 10vh;
    width: 75%;
    border: 2px solid black;
    margin-top: 5vh;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.Select {
    width: 18.5vw;
    height: 7vh;
    border-radius: 35px;
    /* margin-top: 1vh; */
    /* padding: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1vw;
    font-size: 20px;
    font-weight: bold;
}

.Select:hover {
    background: linear-gradient(90deg, #0050d1 0%, #00296b 100%);
    color: white;
}

.check {
    color: green;
}

.cross {
    color: red;
}

/*--------company applied-------------------*/
.company_applied {
    height: 22vh;
    width: 75%;
    border: 2px solid black;
    /* margin-left: 2%;
    margin-top: 2%; */
    border-radius: 25px;
    box-shadow: grey 0px 3px 9px;
}

.Company_Details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* height: 10vh; */
    /* margin-top: 2vh; */
}

.Company_logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    /* margin-top: 4%; */
}

.Clogo {
    width: 75%;
    height: 80%;
}

.Product_Discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
}

.Product_Discription1 {
    font-size: 20px;
    font-weight: bold;
}

.Product_Discription2 {
    font-size: 15px;
    color: grey;    
}
.money {
    display: flex;
    justify-content: flex-start;
    gap: 0.5vw;
}

.note {
    font-size: 28px;
    color: green;
}

.money p {
    font-size: 20px;
    font-weight: bold;
}

.money span {
    color: rgb(107, 107, 107);
    font-size: 15px;
    font-weight: bold;
}

.view_status_button {
    width: 13vw;
    background-color: rgb(153, 152, 152);
    height: 6vh;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 22px;
    margin-top: 7vh;
}

.Company_Address {
    border-top: 1px solid rgb(217, 210, 210);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-size: 20px;
    margin-top: 7vh; */
    font-weight: bold;
}

.Company_Address_details {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 1vw;
}


/*-------------Popbox---------------------*/

.secondaryDiv {
    position: absolute;
    top: 0%;
    width: 100%;
    backdrop-filter: blur(15px);
    left: 0%;
}