/* .progress-ring {
    transform: rotate(-90deg);
}

.progress-ring-circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
} */
* {
    border-spacing: inherit;
}

text {
    /* dominant-baseline: central; */
    text-anchor: middle;
}

.candidate-sub-main-1 {
    display: flex;
    width: 20%;
    align-items: center;
    box-shadow: 0px 1px 5px;
    border-radius: 10px;
    justify-content: space-around;
    margin-bottom: 10px;
}

.candidate-main {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.candidate-main-2 {
    width: 100%;
}

.candidate-table {
    width: 100%;
    /* border-bottom: 1px solid black; */
    overflow-y: scroll;
}

.candidate-table th {
    color: white;
    font-weight: lighter;
    padding: 1%;
    text-align: left;
}

.candidate-table img {
    border-radius: 5000px;
}

.candidate-table td {
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-map-div {
    width: 24%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 1%;
}

.profile-map-div img {
    border-radius: 50000px;
}

.profile-map-text {
    width: 63%;
    text-wrap: wrap;
    margin-left: 3%;
    margin-top: 5%;
}

.profile-map-text p {
    text-wrap: wrap;
    width: 100%;
    min-height: 150px;
}

.profile-map-div-loc {
    display: flex;
    margin-bottom: 2%;
}

.profile-map-div-loc p {
    margin-left: 5%;
    margin-right: 10%;
}

.profile-map-skills {
    padding: 2%;
}

.profile-map-skills h4 {
    margin-bottom: 2%;
}

.profile-map-skills p {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.profile-map-text p {
    font-weight: 300;
    font-size: 15px;
    margin-top: 5%;
}

.bookmark-profile-left-div {
    overflow-y: scroll;
    height: 79vh;
    scrollbar-width: none;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
}

.bookmark-profile-div {
    display: flex;
}

.bookmark-profile-map-div {
    width: 98%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 1%;
    padding: 1%;
    margin-bottom: 5%;
}

.bookmark-profile-right-div {
    width: 62%;
    padding: 3%;
    border-radius: 24px;
    border: 1px solid #ccc;
}

.bookmark-profile-info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-profile-details {
    display: flex;
    gap: 2%;
    margin-top: 2%;
}

.bookmark-profile-details p {
    font-weight: 700;
    margin-top: 2%;
}

.bookmark-profile-details span {
    font-weight: lighter;
    margin-bottom: 2%;
    color: #ccc;
}

.boomark-profile-map-skills {
    margin-top: 2%;
}

.boomark-profile-map-skills p {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.bookmark-profile-apllication {
    margin-top: 2%;
}

.bookmark-profile-apllication h4 {
    margin-bottom: 2%;
}

.bookmark-profile-button {
    display: flex;
    margin-top: 2%;
    gap: 20%;
}

.candidate-sub-main-2 {
    background-color: #ffb800;
    display: flex;
    width: 20%;
    align-items: center;
    box-shadow: 0px 1px 5px;
    border-radius: 10px;
    justify-content: space-around;
    margin-bottom: 10px;
}

.table-button-div {
    display: flex;
    gap: 2%;
    justify-content: flex-end;
}

.candidate-main-2 select {
    width: auto !important;
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 50px;
}

@media screen and (max-width: 480px) {
    .candidate-main-2 {
        width: 98%;
        margin-left: 1%;
    }

    .progress-ring-circle {
        cx: 48;
        r: 25;
    }

    .candidate-sub-main-1 {
        width: 39%;
    }

    .candidate-sub-main-2 {
        width: 39%;
    }

    .progress-ring text {
        font-size: 18px;
    }

    .candidate-sub-main-1 p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 2%;
    }

    .candidate-sub-main-1 h2 {
        font-size: 20px;
    }

    .candidate-sub-main-2 p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 2%;
    }

    .candidate-sub-main-2 h2 {
        font-size: 20px;
    }

    .candidate-table thead {
        font-size: 12px;
    }

    .candidate-table tbody img {
        height: 40px;
    }

    .candidate-table tbody p {
        font-size: 13px;
    }

    .candidate-table tbody td {
        font-size: 13px;
        padding: 0%;
    }

    .profile-map-div {
        width: 80%;
        margin: 0%;
        margin-left: 10%;
        margin-top: 2%;
    }

    .bookmark-profile-left-div {
        display: none;
    }

    .bookmark-profile-right-div {
        width: 98%;
        margin-left: 1%;
    }
}

@media screen and (min-width: 480px) and (max-width:1024px) {
    .candidate-main-2 {
        width: 98%;
        margin-left: 1%;
    }

    .progress-ring-circle {
        cx: 48;
        r: 25;
    }

    .candidate-sub-main-1 {
        width: 39%;
    }

    .candidate-sub-main-2 {
        width: 39%;
    }

    .progress-ring text {
        font-size: 18px;
    }

    .candidate-sub-main-1 p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 2%;
    }

    .candidate-sub-main-1 h2 {
        font-size: 20px;
    }

    .candidate-sub-main-2 p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 2%;
    }

    .candidate-sub-main-2 h2 {
        font-size: 20px;
    }

    .candidate-table thead {
        font-size: 12px;
    }

    .candidate-table tbody img {
        height: 40px;
    }

    .candidate-table tbody p {
        font-size: 13px;
    }

    .candidate-table tbody td {
        font-size: 13px;
        padding: 0%;
    }

    .profile-map-div {
        width: 40%;
        margin: 0%;
        margin-left: 3%;
        margin-top: 2%;
    }

    .bookmark-profile-map-div {
        width: 98%;
    }

    .bookmark-profile-right-div {
        width: 57%;
        margin-left: 0%;
    }

    .bookmark-profile-left-div{
        width: 40%;
    }
}