* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


/* These block of code may be temp block so do not touch that even i don't know where this blocks of code will apply */
.Work_from_Office {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #E6EFFC;
    color: #0043FF;
}

.Absent {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #FFE5EE;
    color: #AA0000;

}

.Late_Arrival {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #FFF8E7;
    color: #D5B500;

}

.Work_from_Home {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #EFEFEF;
    color: #000000;
}


.Work_from_OfficeText {
    color: #0043FF;
}

.AbsentText {
    color: #AA0000;
}

.Late_ArrivalText {
    color: #D5B500;
}

.Work_from_HomeText {
    color: #000000;
}
/* These block of code may be temp block so do not touch that even i don't know where this blocks of code will apply */


/* Application status popup  */
.Status__StatusTimeLineListItem {
    list-style-type: none;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    margin-bottom: 0.2em;
    height: 50px;
}
.Status__StatusTimeLineListItem::before {
    content: '✓';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    counter-increment: step;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5%;
    z-index: 2;
    border: none;
    background-color: rgb(128, 128, 128);
    color: rgba(128, 128, 128, 0.256);
    font-size: 10px;
}

.Status__StatusTimeLineListItem::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 1px;
    height: 120%;
    background-color: black;
    z-index: -1;
}

.Status__StatusTimeLineListItem:last-child::after {
    content: none;
}

.Status__StatusTimeLineListItem.completedStep::before {
    background-color: #4caf50 !important;
    border: none;
    color: white !important;
}

.Status__StatusTimeLineListItemNotSelected{
    color: rgba(223, 2, 2, 1);
}
.Status__StatusTimeLineListItem.completedStepNotSelected:before {
    content: "✕";
    background-color: rgba(223, 2, 2, 1) !important;
    border: none;
    color: white !important;
}
.Status__StatusTimeLineListItem.completedStep::after {
    background-color: #4caf50;
}
/* Application status popup  */