* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


/* These block of code may be temp block so do not touch that even i don't know where this blocks of code will apply */
.Work_from_Office {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #E6EFFC;
    color: #0043FF;
}

.Absent {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #FFE5EE;
    color: #AA0000;

}

.Late_Arrival {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #FFF8E7;
    color: #D5B500;

}

.Work_from_Home {
    display: block;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #EFEFEF;
    color: #000000;
}


.Work_from_OfficeText {
    color: #0043FF;
}

.AbsentText {
    color: #AA0000;
}

.Late_ArrivalText {
    color: #D5B500;
}

.Work_from_HomeText {
    color: #000000;
}