.__interviewSchedule_Page {
    display: flex;
}

.__left_Cont {
    width: 100%;
}

.__toogleContainer {
    border: 1px solid rgba(128, 128, 128, 0.639);
    margin: auto;
    width: 520px;
    margin: 1em auto 0 auto;
    padding: .5em;
    border-radius: 30px;
}

.__btn_toggle {
    width: 250px;
    padding: .5em 1em;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(210, 210, 210);
}

.__btn_toggle.active {
    background: blue;
    color: white;
}

/* right section-------------> */
.__right_Cont {
    width: 300px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 1em 0 0;
}

.__user_Profile {
    border: 1px solid grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.__user_Img {
    width: 80px;
    border: 1px solid;
    border-radius: 50%;
}

.__user_Details {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 1em 0 1em 1em;
}

.__user_skills {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    padding-left: 1em;
}

.__user_Details span {
    border: 1px solid;
    padding: .1em .4em;
    border-radius: 5px;
    font-size: 12px;
}

.__btn_Edit_Profile,
.__btn_View_Profile {
    display: grid;
    padding: .1em 2em;
    border-radius: 5px;
    margin: auto;
    border: none;
    outline: none;
}

.__btn_Edit_Profile {
    background: rgb(231, 231, 231);
    color: #000;
    font-weight: 500;
}

.__btn_View_Profile {
    background: #000;
    color: white;
}


/* Interview Page ------------> */
.__interview_Page {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}