* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

.__interviewSchedule_Page {
    display: flex;
}

.__Cont {
    width: 100%;
}

.__toogleContainer {
    border: 1px solid rgba(128, 128, 128, 0.639);
    margin: auto;
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 1em auto 0 auto;
    padding: .5em;
    border-radius: 30px;
}

.__btn_toggle {
    width: 250px;
    padding: .5em 1em;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(210, 210, 210);
}

.__btn_toggle.active {
    background: blue;
    color: white;
}

/* Interview Schedule Page ------------> */
.__interview_Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Interview with AI PAge ---------> */
.__interviewWithAI_Page {
    height: 100%;
    padding: 1em 2em;
}

.__timeline {
    display: flex;
    justify-content: space-between;
}

.__select_Time,
.__select_Date {
    cursor: pointer;
    outline: none;
}

.__interview_Details {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__Interview_Timings {
    width: 80%;
    border-radius: 10px;
    padding: .8em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__interview_Dates {
    display: flex;
    flex-direction: column;
}

.__interview_Times {
    background: green;
    color: whitesmoke;
    padding: 0 1em;
    border-radius: 10px;
}

.__btn_meet_Calls,
.__btn_Cancel {
    background: rgb(6, 186, 0);
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    padding: .3em 1.5em;
    border-radius: 5px;
    font-weight: 500;
}

.__btn_Cancel {
    background: rgb(230, 230, 230);
    color: #000;
    width: 7em;
}

.__popup_instruction {
    width: 500px;
    background: white;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 35vh;
    left: 35vw;
}

.__buttons {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
}