* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.__mainContainer {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.__subContainer {
    width: calc(100vw - 250px);
    height: 100vh;
}

.__outletContainer {
    height: calc(100vh - 70px);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 1.5em;
}

/* Navbar Design-------------------------> */
.__navbar_Page {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(90deg, #00296B 0%, #0050D1 100%);
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.__nav_Logo {
    color: white;
    padding: .5em;
    text-align: center;
    cursor: pointer;
    font-size: 28px;
}

.__navbar {
    display: flex;
    flex-direction: column;
}

.__navbar_Links,.active {
    text-decoration: none;
    color: white;
    border-radius: 0 20px 20px 0;
    padding: .4em 1em .4em 2em;
    margin: .1em 0;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.active {
    background: linear-gradient(92.88deg, #0256FA 11.39%, #FF7C03 86.04%);
}

.__navbar_Links:hover {
    background-image: linear-gradient(to right, rgba(2, 85, 250, 0.835), rgba(255, 125, 3, 0.83));
}

.__nav_footer_actions {
    /* border: 1px solid; */
    /* height: 8em; */
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__user_Info {
    display: flex;
    align-items: center;
    color: white;
}

.__user_Img {
    width: 3em;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 .5em;
}

.__userSection {
    display: flex;
    flex-direction: column;
}

.__btn_Edit_Profile {
    font-size: 10px;
    padding: .5em;
    margin: .2em 0;
    border-radius: 5px;
    cursor: pointer;
}

.__btn_Logout {
    background: transparent;
    border-radius: 6px;
    border: none;
    color: orange;
    font-weight: 500;
    font-size: 16px;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    height: 35px;
    width: 8em;
    margin: .5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 300ms ease;
}

.__btn_Logout:hover {
    background-color: #3855fc;
}

.__btn_Logout:active {
    transform: scale(.95);
}

/* TopBar Design ---------------------- */
.__topbar {
    background: linear-gradient(90deg, #0050D1 0%, #00296B 100%);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__searchbar {
    background: white;
    border-radius: 5px;
    width: 45%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.__input {
    width: 230px;
    height: 2.5em;
    border: none;
    outline: none;
}

.__topbar_Icon {
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .__navbar_Page {
      width: 100px;
    }
    .__btn_Logout {
      width: 3em;
      height: 30px;
    }
    .__hide,  .__userSection,  .__logout_Text {
      display: none;
    }
    .__user_Img {
      width: 30px;
    }
    .__subContainer {
      width: calc(100vw - 100px);
      height: 100vh;
    }
    .__posts {
      width: 90%;
    }
  }